@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
h1 {
    font-family: "Rubik Moonrocks", cursive;
}
a,
p,
td {
    font-family: "Josefin Sans", sans-serif;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: aliceblue;
}
